body{
    font-family: 'Nunito';
    background-image: url('bush.png');
}
h1 {
    color: #8E24AA;
     font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    text-decoration: none;
    text-shadow: 1px 1px #fff, 0 0 #26C6DA, 2px 3px 1px #e3e3e3;
    text-transform: none;
    word-spacing: -2px;
}
#mario-chat{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #F9FBE7;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #eb94d0;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
        -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;

    text-shadow: 3px 2px 1px #9daef5;
      -webkit-box-shadow: 6px 5px 24px #666666;
      -moz-box-shadow: 6px 5px 24px #666666;
      box-shadow: 6px 5px 24px #666666;

    font-family: Arial;
      color: #fafafa;
      font-size: 27px;
      padding: 19px;
      text-decoration: none;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
button:hover {

  background: #2079b0;

  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);

  text-decoration: none;
}
